<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.tixy.scannerapp"
        version="0.01"
>
<name short="Access">
Access
</name>
<description>
Ticket validation application for Revolution Ticketing Platform
</description>
<author email="team@tixy.co.nz" href="http://www.tixy.co.nz/">
Tixy Event Services Ltd
</author>
<icon src="img/barcode-152.png" />

<splash src="splash.png" />
<splash src=“img/splash/Default.png" platform="ios" width="320" height="480" />
<splash src="img/splash/Default@2x.png" platform="ios" width="640" height="960" />
<splash src="img/splash/Default-568h@2x.png" platform="ios" width="640" height="1136" />
<splash src="img/splash/Default-667h@2x.png" platform="ios" width="750" height="1334" />
<splash src="img/splash/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />




<content src="index.html"/>
<access origin="*"/>
<gap:platform name="ios"/>
<preference name="orientation" value="portrait" />
<preference name="android-MediaPlaybackRequiresUserAction" value="false" />
<preference name="android-AllowInlineMediaPlayback" value="true" />
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/media" />
<gap:plugin name="com.phonegap.plugins.barcodescanner"/>
<gap:plugin name="com.valet-manager.lineaprocdv"/>
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.device-orientation" />
</widget>