<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.tixy.scannerapp"
        version="0.01"
>
<name short="Access">
Access
</name>
<description>
Ticket validation application for Revolution Ticketing Platform
</description>
<author email="team@tixy.co.nz" href="http://www.tixy.co.nz/">
Tixy Event Services Ltd
</author>
<icon src="img/barcode-152.png" />
<splash src="splash.png" />
<content src="index.html"/>
<access origin="*"/>
<gap:platform name="ios"/>
<preference name="orientation" value="portrait" />
<preference name="android-MediaPlaybackRequiresUserAction" value="false" />
<preference name="android-AllowInlineMediaPlayback" value="true" />
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/media" />
<gap:plugin name="com.phonegap.plugins.barcodescanner"/>
<gap:plugin name="com.valet-manager.lineaprocdv"/>
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.device-orientation" />
</widget>